# Each line is a file pattern followed by one or more owners.
# More details: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repository.
* @peeb01
